{% load static %}
<script src="{% static 'js/graph.js' %}"></script>

<!-- ***** Graph Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="graphs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Graphs</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- Single Graph Area -->
            <div class="col-12">
                <canvas id="g1" class="single-special text-center wow fadeInUp" data-wow-delay="0.2s"></canvas>
                <script>
                    graph("All Time", "all_data", null, 'g1');
                </script>
            </div>
            <!-- Single Graph Area -->
            <div class="col-12">
                <canvas id="g2" class="single-special text-center wow fadeInUp" data-wow-delay="0.2s"></canvas>
                <script>
                    graph("This week", "week", null, 'g2');
                </script>
            </div>
            <!-- Single Graph Area -->
            <div class="col-12">
                <canvas id="g3" class="single-special text-center wow fadeInUp" data-wow-delay="0.2s"></canvas>
                <script>
                    graph("This Month", "month", 'month={% now "Y-m" %}', 'g3');
                </script>
            </div>
        </div>
    </div>
</section>
<!-- ***** Graph Area End ***** -->