<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Refills</h2>
                    <h3>🚰</h3>
                    <p>Enter the water bottles saved number from the fountain</p>
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="{% url 'new' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="number" name="datapoint" class="form-control email" placeholder="123456">
                        <input type="submit" class="submit" value="Enter">
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->